<%- include('header'); -%> 
<div class="content"> 
<h1 id="welcome">Contacts</h1>
<p>
  Name: Namey McName <br>
  Phone: 01632 960573 <br>
  Address: N/a <br>
  E-mail: Hw@hwu.ac.uk


</p>
</div>
<br>
<%- include('footer'); -%>